* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    text-decoration:none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
body {
    padding: 2.5vw;
    width: 80vw;
    margin: 0 auto;
    background-color: #08371b;
}
header h1 {
    font-family:'Pacifico', handwriting;
    font-size: 7vw;
    text-align:center;
}
header p {
    font-family:'Bebas Neue', sans-serif;
    font-size:5vw;
    letter-spacing: 0.5vw;
}
form {
    display:flex;
    flex-flow:column wrap;
}
.form-container {
    margin: 0.5em 0;
    padding-left:16%;
}
input {
    display:block;
    color:black;
    background:#d2df64;
    padding: 1em;
    border:none;
    width:80%;
    box-shadow:#708252 1em 0.5em;
}
input:hover {
    background: #c6c5ac;
}
label {
    display:block;
    margin:0.5em 0;
    text-transform:uppercase;
    font-size: 2.5vw;
    letter-spacing:0.1vw;
    
}
