* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    text-decoration:none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
body {
    padding: 2.5vw;
    width: 80vw;
    margin: 0 auto;
    background-color: #08371b;
}
header h1 {
    font-family:'Pacifico', handwriting;
    font-size: 7vw;
    text-align:center;
}
header p {
    font-family:'Bebas Neue', sans-serif;
    font-size:5vw;
    letter-spacing: 0.5vw;
}
